*{
    padding: 0;
    margin: 0;
    zoom: 100%;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    text-decoration: none;
}
body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}
body::-webkit-scrollbar {
    display: none;
}
header{
    display: flex;
    width: 100%;
    background-color: #da6d42;
}
.header{
    width:95%;
    margin: auto;
    padding: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo{
    display: flex;
}
.header-logo h1{
    justify-content: center;
    align-items: center;
    display: flex;
}
header h1{
    font-size: 70px;
    color: white;
    text-align: center;
    letter-spacing: 1px;
    list-style: none;
    margin: 0 40px;
}
header img{
    width: 109px;
    cursor: pointer;
    transition: 0.5s;
}

header img:hover{
    transform: scale(1.2);
    z-index:2;
}

/* Navbar */
.sidenavcont{
    display: none;
}
nav {
    width: auto;
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
}
nav a.right {
    float: right;
}
nav a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    
    transition: all 0.2s ease-in-out 0s;
    background-color: #f39069;
    color: white;
}

.dropdown {
    transition: all 0.3s ease-in 0s;
    font-family: 'League Spartan', sans-serif;
    background-color: white;
    justify-content: space-evenly;
    margin: 10px;
    color:black;
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    
    transition: max-height 0.5s ease-out 0s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    border: none;
    outline: none;
    color: black;
    position: relative;
    display: inline-block;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; 
    margin: 0; 
}
.dropdown-content {
    display: none;
    position: absolute;
    border-radius: 10px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: max-height 0.5s ease-out 0s;
}
.dropdown-content a {
    
    float: none;
    color: black;
    border-radius: 10px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    
    background-color: #ddd;
    color: #f39069;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.show {
    display: block;
}



/* FONTS

font-family: 'Fjalla One', sans-serif;
font-family: 'League Spartan', sans-serif;


*/
/* bg pics */
.bgpic1{
    letter-spacing: 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 450px;
    background-image: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.50)),url('https://ia902603.us.archive.org/30/items/vigan/Tourist_Spot.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.embed-vid{
    display: flex
}
.embed-vid iframe{
    position: relative;
    top:0;
    left:0;
    width: 640px;
    height: 360px;
    margin-right: 30px;
}
.bgpic1 h1{
    text-align: center;
    color: white;
    font-size: 65px;
    font-family: 'Fjalla One', sans-serif;
}
.bgpic1 p{
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: 'Fjalla One', sans-serif;
}
.bgpic1 ul{
    display: flex;
}
.bgpic1-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bgpic1-content ul li{
    justify-content: center;
}
.bgpic1 p{
    text-align: center;
    color: white;
}
.bgpic2{
    height: auto;
    background-image: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.50)),url('https://archive.org/download/vigan/bg1.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 0 70px 0;
}
/* Content */
.content1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    padding: 20px ;
}
.content1 ul li{
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    padding: 8px 10px;
    align-items: left;
}
.article{
    display: flex;
    padding: 0 5px 10px 5px;
    flex: 2;
    justify-content: space-around;
    color: black;
}
.article ul li{
    list-style: none;
    font-size: 12px;
}
.article img{
    justify-content: left;
    width: 270px;
}

@font-face {
    font-family: 'Barabara';
    src: url(./fonts/BARABARA-final.otf);
}

/* boxes */

.box{
    display: flex;
    font-family: 'League Spartan', sans-serif;
    justify-content: center;
    place-items: center;
    
    padding-top: 70px;
}

.box-1 {
    border-radius: 25px 0 25px 0;
    background-color: white;
    width: 22%;
    height: 470px;
    text-align: left;
    padding: 30px;
    margin-left: 50px;
    text-decoration: none;
    color: black;
}
.box-1 a{
    text-decoration: none;
    color: black;
}
.box-1 img{
    width: 100%;
    padding: 15px 0 15px 0;
    transition: all 0.5s ease
}
.box-1 img:hover{
    transform: translateY(-10px)
}
iframe {
    border-radius: 25px;
    border: none;
}
.box h3 {
    font-size: 30px;
    margin-bottom: 15px;
}

.box p {
    margin-top: 15px;
    font-size: 19px;
    text-align: justify;
}

/* footer */

.footer{
    background-color: #085589;
    padding: 30px 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.footer-imgs img{
    height: 150px
}
.vigan-footer {
    font-family: 'Barabara', sans-serif;
    font-size: 70px;
    color:white;
    text-align:center;
}
.footer-text{
    color:white;
}
#contact-info{
    font-family: 'League Spartan', sans-serif;
    font-weight: 100;
    font-size: 20px;
}

#copyright{
    font-family: 'League Spartan', sans-serif;
    font-size: 25px;
    margin-top: 20px;
}

/* timeline css */
.design-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1f1f1f;
    min-height: 100vh;
    padding: 100px 0;
    font-family: Jost;
  }
  
  .design {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .timeline {
    width: 80%;
    height: auto;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  .timeline-content {
    padding: 20px;
    background: #1f1f1f;
    -webkit-box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
            box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
    border-radius: 5px;
    color: white;
    padding: 1.75rem;
    transition: 0.4s ease;
    overflow-wrap: break-word !important;
    margin: 1rem;
    margin-bottom: 20px;
    border-radius: 6px;
  }
  
  .timeline-component {
    margin: 0px 20px 20px 20px;
}

/* FOR MEDIA WITH MAX WIDTH 1366px */

@media (max-width: 1366px){
    .article img{
        justify-content: left;
        width: 150px;
        height: auto;
    }
}

/* FOR MEDIA WITH MAX WIDTH 600px */

@media screen and (max-width: 600px) {
    @viewport{
        width: 600px;
    }
    html, body{
        width: 100%;
        overflow-x: hidden;
    }
    
    header{
        display: flex;
        width: 100%;
        
        background-color: #da6d42;
    }
    .header{
        width:95%;
        margin: auto;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header-logo{
        display: flex;
    }
    
    .header-logo h1{
        justify-content: center;
        align-items: center;
        display: flex;
    }
    header h1{
        font-size: 40px;
        color: white;
        text-align: center;
        letter-spacing: 1px;
        list-style: none;
        margin: 0 20px;
    }
    header img{
        width: 109px;
        cursor: pointer;
        transition: 0.5s;
    }
    
    header img:hover{
        transform: scale(1.2);
        z-index:2;
    }
    /* Navbar */
    .sidenavcont{
        display:  contents;
    }
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #085589 ;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }
      
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
      
    .sidenav a:hover {
        color: white;
    }
    span{
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
    nav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 15px;
    }
    
    nav a {
        font-size: 18px;
        float: left;
        display: block;
        color: black;
        text-align: center;
        text-decoration: none;
    }
    nav a.right {
        float: right;
    }
    nav a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
        transition: all 0.2s ease-in-out 0s;
        background-color: #f39069;
        color: white;
    }

    nav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
    
    .dropdown {
        transition: all 0.3s ease-in 0s;
        font-family: 'League Spartan', sans-serif;
        background-color: white;
        justify-content: space-evenly;
        flex-direction: column;
        margin: 10px;
        color:black;
        float: center;
        overflow: hidden;
    }
    
    .dropdown .dropbtn {
        
        transition: max-height 0.5s ease-out 0s;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 22px;
        border: none;
        outline: none;
        color: black;
        position: relative;
        display: inline-block;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit; 
        margin: 0; 
    }
    .dropdown-content {
        display: none;
        position: absolute;
        border-radius: 10px;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        transition: max-height 0.5s ease-out 0s;
    }
    .dropdown-content a {
        
        float: none;
        color: black;
        border-radius: 10px;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }
    .dropdown-content a:hover {
        
        background-color: #ddd;
        color: #f39069;
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }
    .show {
        display: block;
    }
    
    
    
    /* FONTS
    
    font-family: 'Fjalla One', sans-serif;
    font-family: 'League Spartan', sans-serif;
    
    
    */

    /* embed vid */
    .embed-vid{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .embed-vid iframe{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 460px;
        height: 258.75px;
    }

    /* bg pics */
    .bgpic1{
        letter-spacing: 2px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        padding-top: 9%;
        padding-bottom: 9%;
        background-image: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.50)),url('https://ia902603.us.archive.org/30/items/vigan/Tourist_Spot.png');
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .bgpic1 h1{
        text-align: center;
        color: white;
        font-size: 50px;
        font-family: 'Fjalla One', sans-serif;
        padding: 0 30px 0 30px
    }
    .bgpic1 p{
        text-align: center;
        color: white;
        font-size: 30px;
        font-family: 'Fjalla One', sans-serif;
    }
    .bgpic1-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        margin-top: 7%;
    }
    .bgpic2{
        height: auto;
        background-image: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.50)),url('https://archive.org/download/vigan/bg1.jpg');
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 30px;
        display: flex;
        flex-direction: column;
    }
    /* Content */
    .content1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .article{
        display: column;
        flex-direction: column;
        padding:  5px 15px 5px;
        justify-content: flex-start;
        align-items: center;
        color: black;
    }

    .article img{
        width: 300px;
        height: auto
    }
    
    @font-face {
        font-family: 'Barabara';
        src: url(./fonts/BARABARA-final.otf);
    }
    
    /* boxes */
    
    .box{
        display: flex;
        flex-direction: column;
        font-family: 'League Spartan', sans-serif;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    
    .box-1 {
        border-radius: 25px 0 25px 0;
        background-color: white;
        width: 60%;
        height: auto;
        text-align: left;
        margin-top: 7%;
        margin-left: 0;
        color: black;
    }
    .box-1 a{
        text-decoration: none;
        color: black;
    }
    .box-1 img{
        width: 100%;
    }
    iframe {
        border-radius: 25px;
        border: none;
    }
    .box h3 {
        font-size: 30px;
        margin-bottom: 15px;
    }
    
    .box p {
        margin-top: 15px;
        font-size: 19px;
        text-align: justify;
    }
    

    /* footer */
    
    .footer{
        padding: 30px 0 30px ;
        background-color: #085589;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .footer-imgs img{
        height: 30px
    }
    .vigan-footer {
        font-family: 'Barabara', sans-serif;
        font-size: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
        color:white;
        text-align:center;
    }
    .footer-text{
        color:white;
    }
    #contact-info{
        font-family: 'League Spartan', sans-serif;
        font-weight: 100;
        font-size: 10px;
    }
    
    #copyright{
        font-family: 'League Spartan', sans-serif;
        font-size: 10px;
        margin-top: 20px;
    }
}

@media screen and (max-width: 425px) {
    .embed-vid{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .embed-vid iframe{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 320px;
        height:180px;
        /* width: 400px;
        height: 225px; */
    }
}
