/* font-family: 'Fjalla One', sans-serif;
font-family: 'League Spartan', sans-serif; */

/* EVENT 1 */

.firstevent{
    display:flex;
    justify-content: center;
    background-color: orange;
    padding: 50px
}

.firstevent h1, h3{
    color: black;
    font-family: 'Fjalla One', sans-serif;
    padding: 20px 0 20px 0;
}

.firstevent h3{
    font-size: 30px;
}

.firstevent h1{
    font-size: 70px;
    text-align: center;
}

.firstevent p{
    text-align: justify;
    text-align-last: left ;
    font-family: 'League Spartan', sans-serif;
    font-size: 20px;
    padding: 20px 0 0 0
}

.content1 {
    display: flex;
    flex-direction: column;  
}

.firstevent img{
    width: 40%;
    height: auto;
    border-radius: 20px;
    transition: all 0.5s ease;
}

.firstevent img:hover{
    transform: translateY(-10px);
}

/* EVENT 2 */

.secondevent{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: antiquewhite;
}

.secondevent h1, h3{
    color: black;
    font-family: 'Fjalla One', sans-serif;
    padding: 20px 0 20px 0;
}

.secondevent h3{
    font-size: 30px;
}

.secondevent h1{
    font-size: 70px;
    text-align: center;
}

.secondevent p{
    text-align: justify;
    text-align-last: left ;
    font-family: 'League Spartan', sans-serif;
    font-size: 20px;
    padding: 20px 0 0 0
}

.secondevent img{
    width: 40%;
    height: auto;
    border-radius: 20px;
    transition: all 0.5s ease;
}

.secondevent img:hover{
    transform: translateY(-10px);
}

.content2 {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
}

/* EVENT 3 */

.thirdevent{
    display:flex;
    justify-content: center;
    background-color: orange;
    padding: 50px
}

.thirdevent h1, h3{
    color: black;
    font-family: 'Fjalla One', sans-serif;
    padding: 20px 0 20px 0;
}

.thirdevent h3{
    font-size: 30px;
}

.thirdevent h1{
    font-size: 65px;
    text-align: center;
}

.thirdevent p{
    text-align: justify;
    text-align-last: left ;
    font-family: 'League Spartan', sans-serif;
    font-size: 20px;
    padding: 20px 0 0 0
}

.thirdevent img{
    width: 40%;
    height: auto;
    border-radius: 20px;
    transition: all 0.5s ease
}

.thirdevent img:hover{
    transform: translateY(-10px);
}

.content3{
    padding: 40px
}

@media (max-width:600px){
    
    /* EVENT 1 */
    
    .firstevent{
        text-align: justify;
        text-align-last: left ;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .firstevent img{
        width: 90%;
        height: auto
    }

    .firstevent h1{
        font-size: 45px
    }

    .firstevent h3{
        font-size: 25px;
    }

    /* EVENT 2 */
    .secondevent{
        text-align: justify;
        text-align-last: left ;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .secondevent img{
        width: 90%;
        height: auto
    }

    .secondevent h1{
        font-size: 45px
    }

    .secondevent h3{
        font-size: 25px;
    }

    .content2{
        padding: 20px
    }

    /* EVENT 3 */
    .thirdevent{
        text-align: justify;
        text-align-last: left ;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .content3{
        padding: 20px
    }

    .thirdevent img{
        width: 90%;
        height: auto
    }

    .thirdevent h1{
        font-size: 45px
    }

    .thirdevent h3{
        font-size: 25px;
    }
}